.App {
  text-align: center;
  height: 100%;
  position: relative;
}
.days {
  display: flex;
  position: absolute;
  top: 80%;
  width: 100%;
  justify-content: space-between;
}
.header{
  display: flex ;
  justify-content: space-between ;
  color: #ffffff;
  
}


.day {
  color: #ffffff;
}




