.App {
  text-align: center;
}
.actualCity {
  position: absolute;
  top: 0.5%;
  right: 80%;
  color: #ffffff;
}
.dayActual {
  position: absolute;
  top: 80%;
  right: 89%;
  color: #ffffff;
  line-height: 60%;
}

.firstDay {
  position: absolute;
  top: 80%;
  right: 72%;
  color: #ffffff;
  line-height: 60%;
}
.secondDay {
  position: absolute;
  top: 80%;
  right: 54%;
  color: #ffffff;
  line-height: 60%;
}
.thirdDay {
  position: absolute;
  top: 80%;
  right: 36%;
  color: #ffffff;
  line-height: 60%;
}
.fourthDay {
  position: absolute;
  top: 80%;
  right: 18%;
  color: #ffffff;
  line-height: 60%;
}
.fifthDay {
  position: absolute;
  top: 80%;
  right: 3%;
  color: #ffffff;
  line-height: 60%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
