.App {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  /*Background*/
  background: url("./wallpapers/wallpaper02.jpg") no-repeat center center fixed;
  /* background: url("https://picsum.photos/seed/ruanadays/1400/1050") no-repeat
    center center fixed; */
  background-size: 150vw 150vh;
  filter: blur(5px) grayscale(65%);
  position: fixed;
  z-index: 1;
}
.app-container {
  box-sizing: border-box;
  position: fixed;
  border-radius: 15px;
  text-align: center;
  height: 85%;
  width: 95%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  z-index: 2;

  /**/
  background: url("./wallpapers/wallpaper02.jpg") no-repeat center center fixed;
  /* background: url("https://picsum.photos/seed/ruanadays/1400/1050") no-repeat
    center center fixed; */
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
}
.days {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 10px;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  padding: 2rem;
}

.day {
  color: #ffffff;
}
