/* html {

} */

body {
  font-family: "Philosopher", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body,
html,
#root {
  height: 100vh;
  overflow: hidden;
}

.day {
  line-height: 5px;
}
.weekDay {
  margin: 0;
}

.icon {
  float: left;
}

.container {
  display: flex;
  flex-direction: row;
}
.temp {
  font-size: 20px;
}
